.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
.close {
	float: right;
	font-size: 21px;
	font-weight: bold;
	line-height: 1;
	color: #000000;
	opacity: 0.2;
	filter: alpha(opacity=20);
	text-shadow: 0 1px 0 #ffffff;
}
.close:hover,
.close:focus {
	color: #000000;
	cursor: pointer;
	opacity: 0.5;
	filter: alpha(opacity=50);
	text-decoration: none;
}
button.close {
	background: transparent;
	border: 0;
	cursor: pointer;
	padding: 0;
	-webkit-appearance: none;
}
.dialogBox {
	bottom: 0;
	display: table;
	height: inherit;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
.dialogBox .inner-dialog {
	display: table-cell;
	height: inherit;
	vertical-align: middle;
	width: 200px;
}
.stickyBox .inner-dialog {
	vertical-align: top;
	width: 100%;
}
.dialogBox .dialog-content {
	background: #ddd;
	border: 1px solid #c9c9c9;
	box-shadow: 0px 0px 20px #090909;
	height: auto;
	margin: 0 auto;
	max-height: 100%;
  max-width: 100%;
	position: relative;
	width: 50%;
}
.dialogBox .dialog {
	max-height: 100vh;
	overflow: auto;
}
.stickyBox .dialog-content {
	max-width: none;
	width: 100%;
}
.dialogBox .header {
	background: #d1d1d1;
	border-bottom: 1px solid #c9c9c9;
}
.stickyBox .dialog,
.stickyBox .options {
	float: left;
}
.dialogBox .dialog-content > * {
	padding: 12px;
}
.dialogBox .options button,
.form-prompt button {
	float: right;
	margin-left: 5px;
}
.form-prompt input {
	margin-bottom: 10px;
}
.dialogBox .close {
	border: 1px solid #666;
	border-radius: 3px;
	margin: 7px;
	padding: 0 5px;
	position: absolute;
	right: 15px;
	top: 0;
}