.sliderbox {
	background: #fff;
	margin: 0 auto 24px;
	max-height: 100vh;
	min-height: 110px;
	overflow: hidden;
	position: relative;
}
.sb-template {
	box-shadow: 0px 10px 40px rgba(0,0,0,0.5);
	bottom: 0;
	left: 0;
	margin: auto;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 99;
}
.sb-template .close-sliderbox {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 2;
}
.placeholder {
	height: 100%;
}
.sliderbox .item {
	margin: 0;
	float: left;
	position: relative;
	text-align: center;
}
.sliderbox .loading {
	background: #fff;
	bottom: 0;
	left: 0;
	line-height: 160px;
	margin: auto;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	z-index: 2;
}
.sliderbox img {
	width: 100%;
}
.sliderbox p {
	padding: 14px;
}
.sliderbox a:hover {
	text-decoration: none;
}
.sliderbox .prev,
.sliderbox .next {
	background: #222;
	border: 3px solid #fff;
	color: #fff;
	font-size: 38px;
	font-weight: 100;
	height: 50px;
	left: 10px;
	line-height: 38px;
	margin-top: -25px;
	position: absolute;
	text-align: center;
	text-decoration: none;
	top: 50%;
	width: 50px;
	z-index: 1;
}
.sliderbox .next {
	left: auto;
	right: 0.25em
}

.sliderbox .slider-nav {
	bottom: 0;
	position: absolute;
	text-align: center;
	width: 100%;
}
.sliderbox .slider-nav.left,
.sliderbox .slider-nav.right {
	display: table;
	height: 100%;
	width: 14px;
}
.sliderbox .slider-nav.left {
	left: 0;
}
.sliderbox .slider-nav.right {
	right: 0;
}
.sliderbox .slider-nav.top {
	top: 5px;
}
.sliderbox .slider-nav.bottom {
	bottom: 5px;
}
.sliderbox .slider-nav * {
	line-height: normal;
}
.sliderbox .slider-nav.left ul,
.sliderbox .slider-nav.right ul {
	height: 100%;
	vertical-align: middle;
	display: table-cell;
}
.sliderbox .slider-nav ul {
	display: inline-block;
	margin: 0;
	padding: 0;
}
.sliderbox .slider-nav.bottom li,
.sliderbox .slider-nav.top li {
	display: inline;
	list-style: none;
}
.sliderbox .slider-nav a {
	background: #000;
	border-radius: 50%;
	display: inline-block;
	height: 14px;
	margin: 0 5px;
	text-indent: -9999px;
	width: 14px;
}
.sliderbox .slider-nav a:hover,
.sliderbox .slider-nav a.active {
	background: #ccc;
}